---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/site/Header.astro";
import Footer from "../components/site/Footer.astro";
import HeroSection from "../components/home/HeroSection.astro";
import LatestReleaseSection from "../components/home/LatestReleaseSection.astro";
import WhyStickAroundSection from "../components/home/WhyStickAroundSection.astro";
import ShowsPreviewSection from "../components/home/ShowsPreviewSection.astro";
import PersonalityStripSection from "../components/home/PersonalityStripSection.astro";
import CommunitySignupSection from "../components/home/CommunitySignupSection.astro";
import FollowPrompt from "../components/home/FollowPrompt.astro";
import { bandFacts, siteMeta } from "../data/site";
---

<BaseLayout
  title={`${siteMeta.title} | Alt Rock Band from ${bandFacts.location.display}`}
  description={siteMeta.description}
>
  <Header />
  <main id="main-content" class="mobile-nav-offset overflow-x-clip">
    <HeroSection />
    <LatestReleaseSection />
    <WhyStickAroundSection />
    <ShowsPreviewSection />
    <PersonalityStripSection />
    <CommunitySignupSection />
    <FollowPrompt />
  </main>
  <Footer />
</BaseLayout>
