---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/site/Header.astro";
import Footer from "../components/site/Footer.astro";
import HeroSection from "../components/home/HeroSection.astro";
import LatestReleaseSection from "../components/home/LatestReleaseSection.astro";
import AboutBandSection from "../components/home/AboutBandSection.astro";
import ShowsPreviewSection from "../components/home/ShowsPreviewSection.astro";
import PersonalityStripSection from "../components/home/PersonalityStripSection.astro";
import CommunitySignupSection from "../components/home/CommunitySignupSection.astro";
import FollowPrompt from "../components/home/FollowPrompt.astro";
import { siteMeta } from "../data/site";
---

<BaseLayout
  title={`${siteMeta.title} | Provo, Utah Alt Rock Band`}
  description="The Filibusters are a Provo, Utah alt rock band sharing original music, upcoming live shows, and band updates."
>
  <Header />
  <main id="main-content" class="mobile-nav-offset overflow-x-clip">
    <HeroSection />
    <LatestReleaseSection />
    <AboutBandSection />
    <ShowsPreviewSection />
    <PersonalityStripSection />
    <CommunitySignupSection />
    <FollowPrompt />
  </main>
  <Footer />
</BaseLayout>
