---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteMeta } from "../data/site";
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <main>Homepage placeholder</main>
</BaseLayout>
